body {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    background: #222;
    margin: 0;
    height: 100vh;
    background-image: url("annie-spratt-wuc-KEIBrdE-unsplash.jpg");
}
.temp{
    margin: 0;
    margin-bottom: 0.4cm;
}

.card {
    background: #000000d0;
    color: white;
    padding: 2cm;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1cm;
}
.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;

}
.flex {
    display: flex;
    align-items: center;
    margin: 0;
}
button{
    margin: 0.5cm;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    cursor:  pointer;
}
button:hover {
    background: #7c7c7c6b;
}

input{
    border: none;
    outline: none;
    padding: 0.4cm 0.5cm;
    border-radius: 18px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100%-100px);

}